<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <h1><%= @title %></h1>
    <h2><%= @desc %></h2>
    <p><%= @node['messages']['welcome'] %></p>
    <h3>You are seeing me from a <%= @node['platform'] %> machine</h3>
    <h2>This is what the Testing Servers should see</h2>
    SOMETHING NEW THAT SHOULD COME AUTOMCATICALLY!
  </body>
</html>
